* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');
    /* font-family: "Playwrite FR Moderne", cursive; */

@font-face {
    font-family: 'MovLette';
    src: url('../src/fonts/MovLette.ttf') format('truetype');
}

:root {

    --cor0: #e75a55;
    --cor1: #a01b16;
    --cor2: #F00B02;
    --cor3: #573635;
    --cor4: #332A29;
    --cor5: #1b1a1a;


    --fonte-destaque: 'MovLette', cursive;
}

body {
    
    font-family: "Playwrite FR Moderne", cursive;
}