
main {
    background-color: rgb(65, 63, 63);
}

section#inicio {
    position: relative;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.753);
    height: 90vh;
    background: #ff0000b0 url('../imagens-pag2/pexels-valiphotos-589841.jpg') center center no-repeat scroll;
    background-size: cover;
}

aside#text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#conteudo-inicio {
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    background-color: #332a29ce;
    width: 100%;
    padding: 10px;
    transition: transform 0.5s ease-in-out;
}

#conteudo-inicio h2 {
    font-family: 'MovLette';
    color: var(--cor1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.397);
}

#conteudo-inicio:hover {
    transform: scale(1.05);

}

aside h2 {
    text-align: center;
    font-size: 6em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.459);
    color: rgb(104, 7, 7);

}

aside p {
    padding-top: 10px;
    line-height: 2em;
    color: white;

}


table {
    border-collapse: collapse;
    background-color: rgba(128, 128, 128, 0.425);
    margin: auto;

}


th, td {
    border: 1px solid black;
    padding: 10px;

}

    
td {
    color: white;

}

#secao-1-fundo {
    width: 100%;
    height: 450px;
    background-color: var(--cor4);
}

#title-1 {
    width: 100%;
    height: 200px;
    background-color: var(--cor1);
    font-family: var(--fonte-moderna);
    text-align: center;
    font-size: 2em;
    margin: auto;
    padding-top: 40px;
    border-bottom-left-radius: 1000vh;
    border-bottom-right-radius: 1000vh;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.582);
}


/* FRANÇA */
 
#espaco {
    margin: 10px;
    padding: 10px;
    margin: auto;
}

.fundo-sombra {
    box-shadow: 0px 0px 8px black;
}

.divisao {
    background-color: var(--cor1);
    padding: 2% 0 2% 0;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.856);
}

#div-divisao {
    padding: 50px 0px 50px 0px;
    background-color: var(--cor5);
    border-top: 10px solid var(--cor5);
    border-bottom: 10px solid var(--cor5);
    
}

.divisap h3 {
    color: var(--cor5);
}

#nome-lugar {
    text-align: center;
    margin-top: 156%;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--cor1);
    font-family: var(--fonte-moderna);
    font-weight: bold;
}

#nome-pais {
    display: flex;
    vertical-align: bottom;
    color: white;
}

#franca {
    height: 50vh;
    background: url('../imagens-pag2/pexels-elina-sazonova-1850619.jpg') center top no-repeat scroll;
    background-size: cover;
    
}

#fundo-title-paises {
    background-image: linear-gradient(to right, lightgray, transparent, transparent);
    height: 50vh;
}

.title-pais {
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-left: 20px;
    font-size: 5em;
    font-family: var(--fonte-destaque);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.438);
}

.imagens-paises {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--cor4);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.767);
}


.img-paises {
    width: 300px;
    height: 500px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.719);
    background-color: rgb(12, 54, 131);
}



#img1 {
    background: url('../imagens-pag2/pexels-ashleyelena-705764.jpg') center center no-repeat scroll;
    background-size: cover;
}

#img2 {
    background: url('../imagens-pag2/pexels-alexazabache-3727254.jpg') center center no-repeat scroll;
    background-size: cover;
}

#img3 {
    background: url('../imagens-pag2/pexels-arianna-tavaglione-3680502-5984075.jpg') center center no-repeat scroll;
    background-size: cover;
}

#img4 {
    background: url('../imagens-pag2/pexels-jcosta-13692202.jpg') center center no-repeat scroll;
    background-size: cover;
}

/* ESPANHA */

section#espanha {
    height: 50vh;
    background: url('../imagens-pag2/pexels-regan-dsouza-1315522347-33052726.jpg') center center no-repeat scroll;
    background-size: cover;
}

#img5 {
    background: url('../imagens-pag2/pexels-alexazabache-3757136.jpg') center center no-repeat scroll;
    background-size: cover;
}

#img6 {
    background: url('../imagens-pag2/pexels-tomas-malik-793526-1703311.jpg') center center no-repeat scroll;
    background-size: cover;
}

#img7 {
    background: url('../imagens-pag2/pexels-adnara-24380136.jpg') center center no-repeat scroll;
    background-size: cover;
}


#img8 {
    background: url('../imagens-pag2/pexels-arcanjosaddi-18957041.jpg') center center no-repeat scroll;
    background-size: cover;
}

section#italia {
    height: 50vh;
    background: url('../imagens-pag2/pexels-pixabay-56886.jpg') center center no-repeat scroll;
    background-size: cover;
}

#img9 {
    background: url('../imagens-pag2/pexels-david-bartus-43782-586687.jpg') center center no-repeat scroll;
    background-size: cover;
}

#img10 {
    background: url('../imagens-pag2/pexels-chiper-catalin-marian-519691-4026103.jpg') center center no-repeat scroll;
    background-size: cover;
}

#img11 {
    background: url('../imagens-pag2/pexels-mark-neal-201020-2225439.jpg') center center no-repeat scroll;
    background-size: cover;
}

#img12 {
    background: url('../imagens-pag2/pexels-mark-neal-201020-2225442.jpg') center center no-repeat scroll;
    background-size: cover;
}

section#turquia {
    height: 50vh;
    background: url('../imagens-pag2/pexels-francesco-ungaro-2325446.jpg') center center no-repeat scroll;
    background-size: cover;
}

#img13 {
    background: url('../imagens-pag2/pexels-leventsimsek-4365100.jpg') center center no-repeat scroll;
    background-size: cover;
}

#img14 {
    background: url('../imagens-pag2/pexels-kursatakkynl-3800181.jpg') center center no-repeat scroll;
    background-size: cover;
}

#img15 {
    background: url('../imagens-pag2/pexels-sayefotograf-29584595.jpg') center center no-repeat scroll;
    background-size: cover;
}

#img16 {
    background: url('../imagens-pag2/pexels-we-asked-locals-1925446021-28823969.jpg') center center no-repeat scroll;
    background-size: cover;
}

@media screen and (max-width: 730px) {
    aside h2 {
        font-size: 3em;
    } 

}

@media screen and (max-width: 1470px) {
    aside h2 {
        font-size: 5em;
    }
}

@media screen and (max-width: 1226px) {
    aside h2 {
        font-size: 4em;
    }
}

@media screen and (max-width: 984px) {
    aside h2 {
        font-size: 3 em;
    }
}

@media screen and (max-width: 1396px) {
    #img4, #img8, #img12, #img16 {
        display: none;
    }
}

@media screen and (max-width: 1056px) {
    #img4, #img8, #img12, #img16 {
        display: block;
    }
}




